header {
    min-height: 70px !important;
    position: fixed !important;
    background-color: var(--dark) !important;
    width: 100dvw;
    z-index: 999;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    padding: 16px 12px !important;

    .navbar-brand {
        filter: brightness(0.6);
    }

    .navbar-toggler {
        margin-right: 16px;
        border: none;
    }
    
    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
}

header.slide-up {
    transform: translateY(-100%); 
}

header.slide-down {
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {
    header {
        .navbar-brand {
            span {
                display: flex !important;
            }
        }
    }
}

#hero {
    height: 100dvh;
    width: 100dvw;
    filter: brightness(1);
    position: relative;

    .main-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(1);
    }

    .row {
        width: 100%;
        height: 100%;

        .p-5 {
            padding: 0 0 0 100px !important;
        }

        div {
            h1 {
                font-size: 48px;
                color: var(--accent);
                padding: 0 32px 12px 0;
                border-bottom: 2px solid var(--accent);
            }

            h2 {
                color: var(--accent);
            }

            .social-media {
                position: absolute;
                bottom: 32px;
                right: 32px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                a {
                    color: white;
                    font-size: 1.3em;
                    transition: transform 300ms ease; 
                }
                
                a:hover {
                    transform: rotate(-15deg); 
                }                
            }

            .social-media::before {
                content: "";
                display: block;
                width: 2px;
                height: 100px;
                background-color: #F1BE6C; 
                margin-bottom: 10px; 
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #hero {
        position: relative !important;

        .main-image {
            display: none;
        }

        .mobile-image {
            display: block !important;
            width: 70%;
            height: auto;
            object-fit: contain;
            position: absolute !important;
            bottom: 0px !important;
            left: 32px !important;
            max-width: 500px;
        }

        .social-media {
            right: 12px !important;
            bottom: 12px !important;
        }

        .row {
            .col-lg-6 {
                padding: 0px 0px 0px 28px !important;

                h1 {
                    font-size: 32px;
                }

                h2 {
                    font-size:  18px !important;
                }
            }
        }
    }
}

#content {
    width: 100dvw;
    min-height: 100dvh;
    background: var(--main);
}

#about {
    width: 100%;
    min-height: 110dvh;
    background: var(--secondary);
    position: relative;

    .vignette-top {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        border-left: 54px solid var(--accent);
        border-top: 54px solid var(--accent);
    }

    .vignette-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 54px;
        width: 600px;
        background: var(--accent);
    }

    .vignette-right {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 300px;
        width: 54px;
        background: var(--accent);
    }

    @media screen and (max-width: 1024px) {
        .vignette-top, .vignette-right, .vignette-bottom {
            display: none;
        }
    }

    .row {
        width: 100%;
        height: 100%;

        .profile-image {
            width: 360px;
            min-height: 460px;
            position: relative; 
            z-index: 1;
        
            img {
                object-fit: cover;
            }
        }

        @media screen and (min-width: 1024px) {
            .profile-image, .profile-image::after{
                transform: translateX(16px);
            }
        }
        
        .profile-image::after {
            content: '';
            position: absolute; 
            bottom: -16px;
            left: -16px;
            height: 100%; 
            width: 100%; 
            z-index: 0;
            border: 1px dashed white;
            box-sizing: border-box; 
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .tab-button {
                background-color: transparent;
                color: white;
                padding: 5px;
                flex: 1;
            }
        }
        
        .tabs {
            display: none;
            height: 100%;
            margin-right: 5%;
            flex-direction: column;
            justify-content: start !important;
            z-index: 3;

            .contact a {
                font-size: 1.5em;
                transition: transform 300ms ease; 
            }

            .contact a:hover {
                transform: rotate(-15deg); 
            }        
        }

        @media screen and (max-width: 1024px) {
            .tabs {
                margin-top: 0px !important;
            }
        }

        .active-tab {
            display: flex;
        }
    }
}

@media screen and (max-width: 1024px) {
    #about {
        padding: 32px 0px !important;

        p.text-center {
            margin: 8px 16px;
        }

        .row {
            padding: 0px !important;
            margin: 0px !important;

            .col-lg-5 {
                padding: 8px 24px !important;

                .profile-image {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-left: -8px;
                    }
                }

                .profile-image::before {
                    content: '';
                    position: absolute; 
                    top: -16px;
                    transform: translateX(8px);
                    height: 100%; 
                    width: 70%; 
                    z-index: 0;
                    border: 1px dashed white;
                    box-sizing: border-box; 
                }
    
                .profile-image::after {
                    display: none;
                }
            }

            .col-lg-7 {
                padding: 12px 0px !important;
                margin: 0px !important;

                .btn-group {
                    button {
                        font-size: small;
                        padding: 8px 0px;
                    }
                }

                .tabs {
                    padding: 12px 18px;
                    margin: 0px;

                    .button-wrapper {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        
                        button {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 712px) {
    .profile-image {
        width: 100% !important;
    }

    .profile-image::before {
        width: 100% !important;
    }
}

#skills {
    height: auto;
    width: 100%;
    margin-bottom: 28px;
    background: var(--main);

    .row{
        padding: 4px 12px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .badge {
                flex: 1;
                width: 100%;
                min-height: 190px;
                background: var(--secondary);
                border-radius: 5px;
                transition: background 0.3s ease-in-out;
    
                img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 12px;
                }

                p {
                    font-size: 1.4em;
                    font-weight: 500;
                    opacity: 70%;
                    transition: color 0.3s ease-in-out;
                    cursor: default;
                }
            }

            .badge:hover {
                background: var(--accent);

                p {
                    color: var(--main);
                }
            }
        }
    }

    .more-skills {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease; 
    }
    
    .more-skills.show {
        opacity: 1;
        max-height: 2000px;
    }
}

@media screen and (max-width: 1024px) {
    #skills {

        .mobile-skills {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease, max-height 0.3s ease; 
        }
        
        .mobile-skills.show {
            opacity: 1;
            max-height: 2000px;
        }
    }
}

#experience {
    position: relative;
    background: var(--secondary);
    padding-bottom: 42px;

    .text-title {
        position: absolute;
        left: 12px;
        top: -44px;
    }

    .row {
        padding: 80px 24px 24px 24px;

        ul {
            list-style-type: disc;

            li {
                position: relative;

                .wrapper::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 3px;
                    height: 80%;
                    background-color: #F1BE6C; 
                    margin-bottom: 10px; 
                    left: -24px;
                    box-shadow: 0 0 10px var(--accent); 
                }

                /* .wrapper strong {
                    border-bottom: 1px solid white;
                } */
            }
            
            li::marker {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #experience {
        .row-1 {
            padding: 42px 0px 0px 0px !important;
        }

        .row {
            padding: 0px 0px 0px 0px;
            margin-bottom: 0px !important;

            .filler img {
                display: none;
            }

            ul {    
                li {    
                    .wrapper::before {
                        left: -24px;
                    }
                }
            }
        }

        .d-flex.align-items-center.justify-content-end {
            margin: 12px !important;

            .dark-link {
                flex: 1;
            }
        }
    }
}

#portfolio {
    background: var(--main);
    height: auto;

    #projects {
        background: var(--main);
        height: auto;

        .accent {
            height: 4px;
            width: 80px;
            opacity: 80%;
            margin-top: -4px;
            background: var(--accent);
        }

        .card {
            height: auto;
            min-height: 230px;
            border: none !important;
            outline: none !important;
            border-radius: 2px;
            padding: 0px;
            flex: 1;

            .card-body {
                position: relative;
                background-color: var(--secondary);

                .image-wrapper {
                    min-height: 215px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0px;

                    img {
                        border-radius: 2px;
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }

                h5 {
                    padding-bottom: 8px;
                    border-bottom: 1px solid var(--accent);
                }
            }
        }

        .card:hover .popup {
            opacity: 1;
        }
    }

    #certificate {
        height: auto;
        background: var(--secondary);
        padding-bottom: 130px !important;

        .accent {
            height: 4px;
            width: 80px;
            opacity: 80%;
            margin-top: -4px;
            background: var(--accent);
        }
    
        .row {
            .d-flex {
                img {
                    object-fit: fill;
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    #portfolio {

        p.text-center {
            margin: 4px 16px;
        }

        #projects {
            padding: 12px 16px !important;

            .row {
                .card {
                    margin-bottom: 16px;
                }
            }

            .dark-link {
                flex: 1;
                margin-bottom: 18px;
            }
        }

        #certificate {
            padding: 24px 16px 90px 16px !important;

            .row {
                .connect {
                    background: var(--secondary);
                    filter: brightness(1.1);
                    color: var(--main);
                }
            }

            .follow-wrapper {
                margin-top: -42px !important;

                .dark-link {
                    flex: 1;
                }
            }
        }
    }
}

footer {
    height: 430px;
    width: 100dvw;
    background: var(--dark);
    position: relative;
    padding-top: 100px;

    .banner {
        width: 80%;
        height: 180px;
        background: var(--dark);
        position: absolute;
        top: -90px;
        left: 50%;
        border-radius: 10px;
        transform: translateX(-50%);

        .row {
            height: 100%;

            h4 {
                margin: 0 !important;
            }

            p {
                font-weight: 500;
                margin: 0 !important;
            }
        }
    }
    
    span {
        font-size: large;
        font-weight: 550;
    }

    .contact {
        margin-top: 32px;

        .wrapper {
            border: 1px solid white;
            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: border-color 0.3s, background 0.3s;

            a i {
                font-size: 1.3em;    
                transition: color 0.3s;            
            }
        }

        @media screen and (max-width: 1024px) {
            .wrapper {
                width: 40px;
                height: 40px;
                a i {
                    font-size: 1em;
                }
            }
        }

        .wrapper:hover {
            border-color: var(--accent);
            background: var(--accent);
            
            a i {
                color: var(--main);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    footer {
        .banner {
            width: 90% !important; 
        }
    }
}